#hero {
    margin-bottom: 64px;
    margin-top: -100px;

    @include md {
        margin-bottom: 77px;
    }

    >div {
        #hero-image {
            align-items: center;
            background-image: url("../img/header/xich-lo.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            height: 800px;
            justify-content: center;

            @include lg {
                height: 900px;
            }

            @include xl {
                height: 1000px;
            }

            i {
                color: $yellow;
                font-size: rem-calc(60);

                &:hover {
                    color: $white;
                    cursor: pointer;
                }
            }
        }

        #hero-content {
            display: grid;
            grid-template-areas: ". hero-content .";
            grid-template-columns: 16px auto 16px;
            margin-top: 13px;

            @include lg {
                grid-template-columns: auto 900px auto;
            }

            @include xl {
                grid-template-columns: auto 1100px auto;
            }

            >div {
                grid-area: hero-content;

                h1 {
                    color: $prussian;
                    font-family: 'Sora', sans-serif;
                    line-height: 40px;
                    padding: 10px 0;

                    @include md {
                        font-size: rem-calc(30);
                    }

                    @include lg {
                        font-size: rem-calc(40);
                        padding: 15px 0;
                    }

                    @include xl {
                        padding: 20px 0;
                    }
                }

                p {
                    color: $rock;
                    font-weight: 300;
                    line-height: 24px;

                    @include md {
                        font-size: rem-calc(18);
                        width: 60%;
                    }
                }
            }
        }
    }
}