#header {
    background-color: $teal;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    @include md{
         padding-top: 20px;
        //  padding-bottom: 20px;

    }
  
    >div {
        display: grid;
        grid-template-areas: "burger logo"
                               "nav nav";
        grid-template-columns: auto 30%;

        @include md {
            grid-template-columns: 0;
        }

        #logo-container {
            align-items: center;
            display: flex;
            grid-area: logo;
            justify-content: flex-start;
            padding: 15px;

            @include md {
                display: none;
            }

            a:link,
            a:visited {
                color: $white;
                font-size: rem-calc(30);
                font-weight: 600;
                transition: 0.25s;

                &:hover {
                    color: $yellow;
                }

                @include lg {
                    font-size: rem-calc(36);
                }
            }
        }

        #burger-container {
            cursor: pointer;
            width: 40px;
            position: relative;
            height: 20px;
            margin-left: 16px;
            grid-area: burger;

            @include md {
                display: none !important;
            }

            div{
               span{
                width: 100%;
                background-color: $white;
                margin-top: 20px;
                height: 3px;
                position: absolute;
                top:0;
                right: 0;
                width: 100%;

                &:nth-child(2){
                    top: 16px;
                    width: 100%
                }
            } 
            }

            
        }

        #nav-container {
            background-color: $egg;
            // color: $ocean;
            grid-area: nav;
            width: 65vw;
            height: 100vh;
            text-align: center;
            // z-index: 815;
            position: fixed;

            @include md {
                background-color: $teal;
                display: block !important;
                height: 6%;
                width: 100%;
            }

            >div {
                @include md {
                    display: grid;
                    grid-template-areas: "left title right";
                    grid-template-columns: repeat(3, 1fr);
                }

                #left {
                    @include md {
                        grid-area: left;
                        margin-right: -40%;
                    }
                }

                #title {
                    display: none;

                    @include md {
                        display: flex;
                        grid-area: title;
                        justify-content: center;
                        margin: -6px -10px;
                    }
                }

                #right {
                    @include md {
                        grid-area: right;
                        margin-left: -40%;
                    }
                }
            }
        }
    }
}